@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --montserrat: 'Montserrat', sans-serif;

    --fs-60: 60px;
    --fs-55: 55px;
    --fs-50: 50px;
    --fs-40: 40px;
    --fs-45: 35px;
    --fs-30: 30px;
    --fs-25: 25px;
    --fs-20: 20px;
    --fs-15: 15px;
    --fs-10: 10px;

    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;
}

* {
    font-family: var(--montserrat);
}

.montserrat {
    font-family: var(--montserrat) !important;
}

.fw-300 {
    font-weight: var(--fw-300) !important;
}

.fw-400 {
    font-weight: var(--fw-400) !important;
}

.fw-500 {
    font-weight: var(--fw-500) !important;
}

.fw-600 {
    font-weight: var(--fw-600) !important;
}

.fw-700 {
    font-weight: var(--fw-700) !important;
}

.fw-800 {
    font-weight: var(--fw-800) !important;
}

.fw-900 {
    font-weight: var(--fw-900) !important;
}

.fs-60 {
    font-size: var(--fs-60) !important;
}

.fs-55 {
    font-size: var(--fs-55) !important;
}

.fs-50 {
    font-size: var(--fs-50) !important;
}

.fs-45 {
    font-size: var(--fs-45) !important;
}

.fs-40 {
    font-size: var(--fs-40) !important;
}

.fs-35 {
    font-size: var(--fs-35) !important;
}

.fs-30 {
    font-size: var(--fs-30) !important;
}

.fs-25 {
    font-size: var(--fs-25) !important;
}

.fs-20 {
    font-size: var(--fs-20) !important;
}

.fs-15 {
    font-size: var(--fs-15) !important;
}

.fs-10 {
    font-size: var(--fs-10) !important;
}
.custom-bg-warning {
    background-color: #FFF7CC !important;
}

.search-icon {
    width: 40px;
    height: 40px;
}
.h-100 {
    height: 100px;
}
.h-200 {
    height: 200px;
}
.h-300 {
    height: 300px;
}
.h-400 {
    height: 400px;
}
.h-500 {
    height: 500px;
}
.h-600 {
    height: 600px;
}
.h-700 {
    height: 700px;
}
.h-800 {
    height: 800px;
}
.object-fit-cover {
    object-fit: cover;
}

.text-ellipses {
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


@media only screen and (min-width: 768px) {
    :root {
        --fs-45: 15px;
    }
    .search-icon {
        width: 18px;
        height: 18px;
    }
}

$pagination-color:                  #000;
$pagination-hover-color:             #DC3545;

@import "~bootstrap/scss/bootstrap";


.vh-100 {
    height: 100vh !important;
}
